<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.museum.dao.IMemberDao">

	<select id="getMember" resultType="com.museum.dto.MemberDto">
		select * from member_mus where id=#{param1}
	</select>
	<insert id="insertMember" parameterType="com.museum.dto.MemberDto">
		insert into member_mus(id, pwd, name, email, phone, admin_yn) 
		values(#{id}, #{pwd}, #{name}, #{email}, #{phone}, #{admin_yn})
	</insert>
	<update id="updateMember" parameterType="com.museum.dto.MemberDto">
		update member_mus set pwd=#{pwd}, name=#{name}, email=#{email}, phone=#{phone} 
		where id=#{id}
	</update>
	<delete id="deleteMember" parameterType="com.museum.dto.MemberDto">
		delete from member_mus where id=#{id}
	</delete>







</mapper>